@model WebQuanLiNhaHang.Models.NhaCungCap

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Nhà Cung Cấp</h2>

<h3>Bạn có chắc chắn muốn xóa Nhà Cung Cấp này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNhaCungCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhaCungCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Quay lại", "Index") |
            <input type="submit" value="Delete" class="btn btn-default" />

        </div>
    }
</div>
